@font-face {
    font-family: "Georgia";
    src: url("/public/georgia.ttf") format("ttf");
}

html, body, div, header, h1, h2, h3, p, form, label, input, ul, li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    min-height: 100%;
    height: 1px;
}

body {
    font-family: 'Georgia', sans-serif;
    font-size: 12px;
}
